.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    color: black;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer > span{
    font-size: 1.1rem;
    font-weight: 100;
}